*.dylib
*.o
*.os
*.so
*.cfgc
*.pyc
.cache
.sconf_temp
.sconsign.dblite
_build.log
_build.sh
_build.tags
config.log
pytest_session.txt
version.py
doc/html
doc/*.tag
doc/*.inc
doc/doxygen.conf
doc/xml
tests/.cache
tests/.tests
